streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.40
praw==7.7.1
pymongo==4.7.2
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
vaderSentiment==3.3.2
plotly==5.22.0
matplotlib==3.9.0
seaborn==0.13.2
scipy==1.13.1
scikit-learn==1.5.0
requests==2.32.3
python-dotenv==1.0.1
wordcloud==1.9.3
pytz==2024.1
tqdm==4.66.4
textblob==0.18.0
statsmodels==0.14.2
